[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "runMCMCbtadjust"]
	path = runMCMCbtadjust
	url = https://github.com/cran/runMCMCbtadjust
